<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<!-- aroundAuthenticate() - Disallows Customers from logging in if they have a false 'ecinternet_is_active' value -->
	<!-- aroundInitiatePasswordReset() - Adds error handling for failed password reset emails -->
	<!-- aroundResetPassword() - Update 'ecinternet_customer_activated' on the Customer -->
	<!-- beforeCreateAccount() - Sets custom password value for new Customers -->
	<type name="Magento\Customer\Model\AccountManagement">
		<plugin name="ecinternet_customerfeatures-magento_customer_model_accountmanagement"
		        type="ECInternet\CustomerFeatures\Plugin\Magento\Customer\Model\AccountManagementPlugin" />
	</type>

	<!-- aroundNewAccount() - Disable Customer Welcome email -->
	<type name="Magento\Customer\Model\EmailNotification">
		<plugin name="ecinternet_customerfeatures-magento_customer_model_emailnotification"
		        type="ECInternet\CustomerFeatures\Plugin\Magento\Customer\Model\EmailNotificationPlugin" />
	</type>

	<!-- aroundIsValid() - Bypass city validation -->
	<type name="Magento\Customer\Model\Validator\City">
		<plugin name="ecinternet_customerfeatures-magento_customer_model_validator_city"
		        type="ECInternet\CustomerFeatures\Plugin\Magento\Customer\Model\Validator\CityPlugin" />
	</type>

	<!-- aroundIsValid() - Bypass name validation -->
	<type name="Magento\Customer\Model\Validator\Name">
		<plugin name="ecinternet_customerfeatures-magento_customer_model_validator_name"
		        type="ECInternet\CustomerFeatures\Plugin\Magento\Customer\Model\Validator\NamePlugin" />
	</type>

	<!-- aroundIsValid() - Bypass street validation -->
	<type name="Magento\Customer\Model\Validator\Street">
		<plugin name="ecinternet_customerfeatures-magento_customer_model_validator_street"
		        type="ECInternet\CustomerFeatures\Plugin\Magento\Customer\Model\Validator\StreetPlugin" />
	</type>

	<!-- aroundIsValid() - Bypass telephone validation -->
	<type name="Magento\Customer\Model\Validator\Telephone">
		<plugin name="ecinternet_customerfeatures-magento_customer_model_validator_telephone"
		        type="ECInternet\CustomerFeatures\Plugin\Magento\Customer\Model\Validator\TelephonePlugin" />
	</type>

    <!-- Add Logger to AccountManagementPlugin -->
	<type name="ECInternet\CustomerFeatures\Plugin\Magento\Customer\Model\AccountManagementPlugin">
		<arguments>
			<argument name="logger" xsi:type="object">ECInternetCustomerFeaturesLogger</argument>
		</arguments>
	</type>

	<!-- Custom Logger - Must be injected into each class which needs it -->
	<virtualType name="ECInternetCustomerFeaturesLogger" type="Magento\Framework\Logger\Monolog">
		<arguments>
			<argument name="handlers" xsi:type="array">
				<item name="info" xsi:type="object">ECInternet\CustomerFeatures\Logger\Handler</item>
			</argument>
		</arguments>
	</virtualType>
</config>
